body {
  background-color: #232020;
  color: #eae4dd;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
}

.main-phrase {
  color: #232020;
}

.avatar {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

header > h1 {
  background-color: #dcbc8a;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.tasks.list-group {
  width: 30%;
}

.task {
  background-color: #e0bfaa;
}

.language.list-group {
  width: 30%;
}

.list-group-item.active {
  background-color: #e0bfaa;
  border-color: #5d2907;
}

.quotes {
  margin-top: 30px;
}

.quotes > h2 {
  padding: 5px;
  color: #eae4dd;
  text-align: center;
  background-color: #5d2907;
  border-radius: 10px;
}

.quote {
  font-style: italic;
  border-left: solid #5d2907;
  padding-left: 10px;
  margin: 10px;
}
